<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamlink.profiles"
    android:versionCode="1"
    android:versionName="@string/version_code" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/icon2"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".start.StartActivity"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ProfileListActivity"
            android:label="@string/title_activity_main"
            />
        <activity
            android:name=".start.AppIntroduce"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            />
        <activity
            android:name=".ui.ProfileConfigActivity"
            android:label="@string/item_edit"
            />
        <activity 
            android:name=".ui.ProfileMuteFragment"
            android:label="@string/item_edit"
            ></activity>

        <service android:name=".ProfileService" >
        </service>

        <provider
            android:name=".data.ProfilesProvider"
            android:authorities="com.dreamlink.profiles.data.profilesprovider" >
        </provider>

        <receiver android:name=".widget.ProfilesWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.dreamlink.profiles.appWidgetUpdate" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget" />
        </receiver>
        <activity
            android:name=".widget.ProfilesWidgetActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Holo.Light.Dialog" 
            >
            <intent-filter>
                <action android:name="com.dreamlink.arbiter.liu" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".ui.AboutActivity"
            android:label="@string/about"
            />
    </application>

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

</manifest>